@code {
    /*private bool navCollapsed = true;

    private void ToggleNav()
    {
        navCollapsed = !navCollapsed;
    }*/
        // Simulación, reemplazar con lógica real de autenticación
    private bool EsAdmin => true; // Cambiar por lógica real

}

<div class="sidebar sidebar-background text-white p-3">
    <!-- Imagen de fondo ya aplicada en CSS -->
    
    <!-- Encabezado con logo -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img src="alquilando.jpg" alt="Logo" style="width: 40px; height: 40px; object-fit: contain; margin-right: 10px;" />
        <!--<h3 class="m-0">AlquilandoWeb</h3> -->
    </div>
    <div class="text-center mb-4">
        <img src="imagenes/departamentoA.jpg" alt="Departamento" class="img-fluid rounded shadow"
            style="width: 100%; height: 280px; object-fit: cover;" />
    </div>


    <nav class="nav flex-column">
        <NavLink class="nav-link text-white" href="">🏠 Inicio</NavLink>
        <NavLink class="nav-link text-white" href="/buscar">🔍 Buscar</NavLink>
    </nav>
</div>
<!--<input type="checkbox" title="Navigation menu" class="navbar-toggler" /> -->
<!--
<div class="nav-scrollable @(navCollapsed ? "collapse" : "show")">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>
code {
    /*private bool navCollapsed = true;

    private void ToggleNav()
    {
        navCollapsed = !navCollapsed;
    }*/
        // Simulación, reemplazar con lógica real de autenticación
    private bool EsAdmin => true; // Cambiar por lógica real

}
-->
