@page "/CuentaAdministrador"

<h3>Cuenta Administrador</h3>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Publicar Alojamiento</h5>
        <p class="card-text">Agrega un nuevo alojamiento a la plataforma.</p>
        <a href="/PublicarAlojamiento" class="btn btn-primary">Ir</a>
    </div>
</div>


