@page "/"
@using Microsoft.AspNetCore.Components
@rendermode InteractiveServer
@inject IAlojamientoRepositorio AlojamientoRepositorio
@inject NavigationManager NavigationManager

<PageTitle>AlquilandoWeb</PageTitle>
<div class="text-center">
  <h1>
    <img src="logo.jpg" alt="Logo de AlquilandoWeb" style="vertical-align: middle; margin-right: 10px;">
  </h1>
</div>
<div class="container text-center mt-5">
  <p class="lead">Bienvenido a AlquilandoWeb, la plataforma de alquiler de propiedades más confiable y fácil de usar.
  </p>

  <EditForm Model="busqueda" OnValidSubmit="BuscarAlojamientos">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row justify-content-center mb-3">
      <div class="col-md-3">
        <InputText @bind-Value="busqueda.Ciudad" class="form-control" placeholder="Ciudad" />
      </div>
      <div class="col-md-3">
        <InputDate @bind-Value="busqueda.FechaDesde" class="form-control" />
      </div>
      <div class="col-md-3">
        <InputDate @bind-Value="busqueda.FechaHasta" class="form-control" />
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">Buscar</button>
      </div>
    </div>
  </EditForm>
</div>

@code {
  private BusquedaAlojamiento busqueda = new BusquedaAlojamiento
  {
    FechaDesde = DateOnly.FromDateTime(DateTime.Today),
    FechaHasta = DateOnly.FromDateTime(DateTime.Today.AddDays(1))
  };

  private List<Alojamiento>? alojamientos;

  public class BusquedaAlojamiento
  {
    public string Ciudad { get; set; } = string.Empty;
    public DateOnly FechaDesde { get; set; }
    public DateOnly FechaHasta { get; set; }
  }

  private void BuscarAlojamientos()
  {
    alojamientos = AlojamientoRepositorio.ObtenerPorCiudadYDisponibilidad(
    busqueda.Ciudad,
    busqueda.FechaDesde.ToDateTime(TimeOnly.MinValue),
    busqueda.FechaHasta.ToDateTime(TimeOnly.MinValue)
    );
    NavigationManager.NavigateTo("/resultados");
  }
}