@page "/"
@using Microsoft.AspNetCore.Components
@inject IAlojamientoRepositorio AlojamientoRepositorio

<PageTitle>Home</PageTitle>
<!--Le puse una imagen provisional-->
<h1>
  <img src="logo.jpg" alt="Logo de AlquilandoWeb" style="vertical-align: middle; margin-right: 10px;">
  AlquilandoWeb
</h1>
<a href ="/buscar" class="btn btn-primary">Buscar Alojamiento</a>

<!-- Formulario de Búsqueda -->
<div class="container mt-5">
  <h3 class="text-center">Buscar Alojamiento</h3>
  <EditForm Model="busqueda" OnValidSubmit="BuscarAlojamientos">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-row mt-3 text-center">
      <div class="col">
        <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
      </div>
    </div>
  </EditForm>
</div>



@code {
  private BusquedaAlojamiento busqueda = new BusquedaAlojamiento();
  private List<Alojamiento>? alojamientos;

  public class BusquedaAlojamiento
  {
    public string Ciudad { get; set; }= string.Empty;
    public DateOnly FechaDesde { get; set; }
    public DateOnly FechaHasta { get; set; }
  }

  private void BuscarAlojamientos()
  {
    
  }
  }