@page "/"
@using Microsoft.AspNetCore.Components

<PageTitle>Home</PageTitle>
<!--Le puse una imagen provisional-->
<h1>
  <img src="casa.jpg" alt="Logo de AlquilandoWeb" style="vertical-align: middle; margin-right: 10px;">
  AlquilandoWeb
</h1>

Bienvenido a AlquilandoWeb, la plataforma de alquiler de propiedades más confiable y fácil de usar. 

@code{
  //En la página de home pensé que podria mostrar directamente para "Buscar Alojamiento"
}