@page "/listar-usuarios"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject IServicioSesion servicioSesion
@inject IUsuarioRepositorio UsuarioRepositorio
@inject IReservasRepositorio ReservasRepositorio



<h3>Usuarios registrados</h3>

@if (servicioSesion.Rol == RolUsuario.Administrador || servicioSesion.Rol == RolUsuario.Encargado)
{
    <div class="mb-3">
        <label class="form-label">Reservas realizadas en los últimos (meses):</label>
        <InputNumber @bind-Value="cantidadMeses" class="form-control" />
        <button class="btn btn-primary mt-2" @onclick="FiltrarUsuarios">Aplicar Filtro</button>
    </div>

    @if (usuariosFiltrados != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Reservas Realizadas</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var u in usuariosFiltrados)
                {
                    <tr>
                        <td>@u.Id</td>
                        <td>@u.Nombre</td>
                        <td>@u.Apellido</td>
                        <td>@u.CorreoElectronico</td>
                        <button @onclick="() => HabilitarUsuario(u.Id)">Habilitar</button>
                        <button @onclick="() => DeshabilitarUsuario(u.Id)">Deshabilitar</button>
                    </tr>
                }
            </tbody>
        </table>
    }
}    



@code {
    private int cantidadMeses = 1;
    private List<Usuario> usuariosFiltrados = new();
    private bool _usuarioInicializado = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_usuarioInicializado)
        {
            await servicioSesion.InicializarUsuarioAsync();

            var usuario = UsuarioRepositorio.ObtenerPorId(servicioSesion.Id);
            if (usuario != null)
            {
                _usuarioInicializado = true;
                servicioSesion.IniciarSesion();
            }
            if (servicioSesion.Rol != RolUsuario.Administrador)
            {
                NavigationManager.NavigateTo("/", true);

            }
            StateHasChanged(); // Refresca la UI si es necesario
        }
    }

    private void FiltrarUsuarios()
    {
        usuariosFiltrados = UsuarioRepositorio.ListarUsuariosConReservasEnUltimosMeses(cantidadMeses);
    }
    private void HabilitarUsuario(int usuarioId)
    {
        var casoDeUso = new HabilitarUsuarioCasoDeUso(UsuarioRepositorio);
        casoDeUso.Ejecutar(usuarioId);
    }

    private void DeshabilitarUsuario(int usuarioId)
    {
        var casoDeUso = new DeshabilitarUsuarioCasoDeUso(UsuarioRepositorio, ReservasRepositorio);
        casoDeUso.Ejecutar(usuarioId);
    }
}