@page "/alojamientos"
@inject IAlojamientoRepositorio AlojamientoRepositorio
@inject NavigationManager NavigationManager
@inject IServicioSesion ServicioSesion

<h3>Alojamientos Publicados</h3>

@if (_alojamientos is null)
{
    <p>Cargando alojamientos...</p>
}
else if (!_alojamientos.Any())
{
    <p>No hay alojamientos publicados.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var alojamiento in _alojamientos)
            {
                <tr>
                    <td>@alojamiento.Nombre</td>
                    <td>@alojamiento.Ciudad</td>
                    <td>
                        @if ( ServicioSesion.Rol == RolUsuario.Administrador)
                        {
                            <div class="card" style="width: 10rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Editar</h5>
                                    <a href="/editar-alojamiento/@alojamiento.Id" class="btn btn-warning btn-sm">Ir</a>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Alojamiento> _alojamientos;

    protected override async Task OnInitializedAsync()
    {
        _alojamientos = AlojamientoRepositorio.ObtenerTodos();
    }

    void EditarAlojamiento(int id)
    {
        Console.WriteLine($"Redirigiendo a editar alojamiento con ID: {id}");
        NavigationManager.NavigateTo($"/alojamiento/editar/{id}");
    }
}